@import "./custom.scss";

.index-item__title {
  display: flex;
  align-items: end;
  .index-item__image {
    margin-right: 0.25rem;
    img {
      width: 80px;
      height: 80px;
    }
  }
  h3 {
    font-size: 2rem;
  }
}
.subcategory-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  margin: 0 0 3rem 0;
  @media (max-width: $lg) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .subcategory-item {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 1.5rem;
    color: #4b5563;
    .subcategory-item__title {
      margin: 0 0 0.5rem 0;
      font-size: 1.25rem;
      font-weight: 500;
      a {
        color: black;
      }
    }
  }
}

[data-theme="dark"] {
  .subcategory-list {
    .subcategory-item {
      border-color: #374151;
      color: #9ca3af;
      .subcategory-item__title {
        a {
          color: white;
        }
      }
    }
  }
}
