@import "./custom.scss";

.feature-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  padding: 1.5rem 0 5rem 0;
  @media (max-width: $lg) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .feature-item {
    display: block;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 1.5rem;
    color: #4b5563;
    .feature-item__image {
      text-align: center;
      margin: -3rem 0 0 0;
    }
    .feature-item__title {
      text-align: center;
      font-size: 1.5rem;
      color: #000;
    }
    .feature-item__button {
      background-color: $astar-blue;
      color: white;
      display: block;
      text-align: center;
      border-radius: 0.25rem;
      padding: 0.5rem;
      margin: 1rem 0 0 0;
      font-weight: 500;
      font-size: 1.125rem;
      &:hover {
        text-decoration: none;
        filter: brightness(1.1);
      }
    }
  }
}

[data-theme="dark"] {
  .feature-list {
    .feature-item {
      border-color: #374151;
      color: #9ca3af;
      .feature-item__title {
        color: #fff;
      }
    }
  }
}
